@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;

    color: #b4a5a5;
    margin: 0;
    padding: 0;
}


a {
    font-family: 'Roboto', sans-serif;
    color: #b4a5a5;
    text-decoration: none;
}

*:visited {
    font-family: 'Roboto', sans-serif;
    color: #b4a5a5;
    text-decoration: none;
}

html {
    overflow-y: scroll;
}
textarea {
    resize: none;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #b4a5a5;
    z-index: 100;

}


.menu-content.normal {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 9%;
    align-items: center;
    margin-top: 0;
}

.menu-content.mobile {
   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style: none;
    display: flex;
    opacity: 0.9;
    margin-top: 0;
    padding:0;
    background-color: #f1dcc9;
    justify-content: space-evenly;
    height: 100vh;
    flex-direction: column;
    transition-duration: 0.7s;
    
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2%;
    padding: 2%;

}
.menu-content.mobile>.menu-item {
    
    border-bottom: 4px white solid;
    height: 25%;
    padding: 2%;
    width:  100%;
    text-align: center;

}

.menu-item>a {
    white-space: nowrap; 
    font-size: 2.5vh;
    color: #301b3f;
    transition-duration: 0.3s;
}

.menu-item>a:hover {
    color: #4c1e67;
    font-size: 3vh;
}

.menu-item>a:active {
    color: #4c1e67;
    font-size: 2.5vh;
}

.menu-content.mobile>.menu-item>a {
    white-space: nowrap; 
    font-size: 3.5vh;
    color: #301b3f;
    transition-duration: 0.3s;
}

.menu-content.mobile>.menu-item>a:hover {
    color: #4c1e67;
    font-size: 6vh;
}

.logo {
    margin: 2%;
   
}
.image-logo {
    
    height: 3.5em;
}

.burger-menu {
    display: none;
}

.content {
    margin: 3% auto;
    padding: 3%;
    background-color: #301b3f;
    width: 85%;
    height: 80%;
    box-shadow: 0 0 20px #301b3f;
}

.platform-title {
    text-shadow: 0 0 5px #b4a5a5;
    text-align: center;
    font-size: 6vh;
    margin-bottom: 7%;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 30%;
}

.btn {
    padding: 10%;
    margin-bottom: 7%;
    border-radius: 20px;
    text-align: center;
    font-size: 4vh;
}

.desc {
    text-align: center;
    margin: 0px auto;
    width: 70%;
    font-size: 3vh;
    margin-bottom: 7%;
    text-shadow: 0 0 5px #b4a5a5;
}

.create-btn {
    background-color: #5cb85c;
    transition-duration: 0.6s;
    box-shadow: 0 0 20px #5cb85c;
}
.create-btn:hover {
    box-shadow: 0 0 60px #2ebd2e;
}
.enter-btn {
    background: #0275d8;
    transition-duration: 0.6s;
    box-shadow: 0 0 20px #0275d8;
}
.enter-btn:hover {
    box-shadow: 0 0 60px #0275d8;

}

.big-tip {
    font-size: 4vh;
}

.form-place {
    margin: 0 auto;
    width: 50%;
}

.input {
    display: block;
    padding: 4%;
    background-color: #301b3f;
    border: none;
    border: 3px #9f4636 solid;
    border-radius: 10px;
    color: #b4a5a5;
    transition-duration: 0.7s;
    /* margin-bottom: 4%; */
}

.code-input {
    margin: 3% auto;
    padding: 8%;
    width: 70%;
    height: 10%;
    font-size: 5vh;
    font-weight: bold;
}

.input:focus {
    outline: none;
    border: none;
    border: 3px #e06016 solid;
}

button {
    display: block;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #b4a5a5;
}

.center-btn {
    margin: 10% auto;
}

.big-btn {
    font-size: 6vh;
    width: 70%;
    height: 20%;
    margin-bottom: 4%;
}

.name-input {
    width: 40%;
    height: 4%;
    padding: 2%;
    font-size: 3vh;
    font-weight: bold;
}

.little-btn {
    font-size: 4vh;
    height: 10%;
    width: 200px;
}

.little-tip {
    font-size: 2.4vh;
    font-weight: normal;
}

.area {
    padding: 2%;
}

.big-code {
    margin-top: 10%;
    text-align: center;
    color: #e06016;
    font-size: 10vh;
}

.big-text {
    font-size: 7vh;
}

.follow-btn {
    padding: 2%;
}


/* input[type="color"] {
    appearance: none;
    padding: 0;
    outline: none; 
    border: none;
} */

.interface {
    color:rgb(27, 21, 21);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;

    padding: 2%;
    background-color: #b4a5a5;
}
.interface-content {
    padding: 2%;

}


.interface__main {
    margin-top: 2%;
    display: flex;
    flex-wrap:wrap;

}


.idea-card {
    margin: 1%;
    padding: 1%;
    width: 42%;
    color:rgb(27, 21, 21);
    background-color: #f1dcc9;
    box-shadow: 0 0 10px grey;
    word-wrap: break-word;

}
.interface__write {
    position: fixed;
    left: 3%;
    bottom: 0;
    width: 90%;
    border-radius: 15px 15px 0 0 ;
    padding: 2%;
    box-shadow: 0 0 5px rgb(61, 60, 60);
    background-color: #c4bbbb;
}
.color-input {
    outline: none;
    background-color: #b4a5a5;
    /* border-radius: 0 10px 10px 0; */
}

.color-input:focus {
    color: rgba(0, 0, 0, 0);
    outline: none;
}

.write-idea {
    display: flex;
    position: relative;
    border-radius: none;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    
    /* margin: 2% auto 1% auto; */
}

.write-idea-text {
    background-color: #b4a5a5;
    border: 1px solid grey;
    color: rgb(27, 21, 21);
    border-radius: 0%;
    width: 70%;
    border-radius: 15px;
}

.write-idea-text:focus {
    border: none;
    box-shadow: 0 0 5px rgb(61, 60, 60);
}

.choose-idea-color {
    border: 0;
    position: absolute;
    z-index: 1;
    height: 50%;
    width: 5%;
    right: 29%;
    top: 25%;
    bottom: 25%;
}
.create-storm {
    padding: 2%;
    margin-top: 5%;
}
.write-idea-btn {
    font-size: 3vh;

    width: 20%;
}

.storm-name {
    text-align: center;
    color:#151515;
    width: 100%;
    /* margin: 1% auto 3% auto; */
}

.storm-desc {
    font-weight: normal;
    font-size: 2vh;
}

.description {
    height: 20%;
    border: 3px solid grey;
    padding: 2%;
    transition-duration: 0.5s;
}


#show-hide-btn {

    background-color: #9f4636;
    padding: 1%;
    width: 50%;
}
.err {
        text-shadow: 0 0 5px #b4a5a5;
        font-size: 10vh;
    }
.err:hover {
    text-shadow: none;
    }

.storm-card {
    word-wrap: break-word;
    border: 3px solid #b4a5a5;
    margin: 2%;
    padding: 4%;
    border-radius: 20px;
}
.mystorms-btns {
    display: flex;
    justify-content: space-evenly;
}
.storm-card-name {
    font-weight: bold;
    font-size: 4vh;
    color:#c4bbbb;
    margin: 2% auto;
}

.little-follow-btn {
    text-align: center;
    width: 30%;
    padding: 2%;
    margin-top: 5%;
    border-radius: 10px;

}

.storms-list {
    width: 50%;
    margin: 2% auto;
}
.countdown {
    position:absolute;
}

.downloadtxt {
    text-align: right;
    right: 0;
    color:#151515;
    font-size: 2.3vh;
    transition-duration: 0.7s;
}
.downloadtxt:hover {
    font-size: 2.7vh;
    color: #4c1e67;
    transition-duration: 0.7s;
}
.downloadtxt:active {
    font-size: 2.3vh;
    color: #151515;
}
@media (max-width: 780px) {
    .downloadtxt  {
        display: none;
    }
    .storms-list {
        width: 80%;
    }
    .little-follow-btn {
        width: 70%;
    }
    .interface {
        width: 95%;

    }
    .interface__write {
        height: 10%;
    }
    .burger-menu {
        display: block;
        padding: 2%;
        margin-right: 2%;
    }
    .burger {
        height: 3em;
    }
    .menu-content.normal {
        display: none;
    }
    .big-code {
        font-size: 4vh;
    }
    .big-input,
    .big-btn,
    .big-tip {
        font-size: 3vh;
    }
    
    .input {
        width: 90%;
        font-size: 2vh;
    }
    .code-input {
        width: 70%;
    }
    .big-btn {
        height: 10%;
    }
    .form-place {
        margin: 40% auto;
        width: 80%;
    }
    .write-idea {
        width: 95%;
    }
    .write-idea-text {
        width: 70%;
    }
    .choose-idea-color {
        right: 34%;
    }

    .idea-card {
        width: 300px;
    }
    .big-text {
        font-size: 4vh;
    }

    .follow-btn {
        width: 70%;
        font-size: 3vh;
    }

    #show-hide-btn {
        width: 90%;
    }
    .storm-name {
        font-size: 3vh;
        margin-top: 10%;
    }
    

}